html, body { 
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Colores */
body{
    --blanco: #fff;
}

/* Fuentes */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Archivo Narrow', sans-serif; */

/* Header */
.header{
    background-color: var(--blanco);
}

.header h1{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.cerrarMenu{
    outline: none;
}

/* MD */
@media(min-width: 768px){
    
}

/* LG */
@media(min-width: 1024px){
    
}

/* XL */
@media(min-width: 1200px){

}