html, body { 
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Colores */
body{
    --blanco: #fff;
}

/* Fuentes */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Archivo Narrow', sans-serif; */

/* Header */
.header{
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 500ms;
}

.header.bottom-menu{
    background: white;
}

.header h1{
    font-family: 'Julius Sans One', sans-serif;
    transition: 500ms;
}

.header.top-menu h1{
    color: white;
    text-shadow: 0px 0px 19px #000;
}

.header.bottom-menu h1{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-shadow: none;
}

.btnSidebar .btnIcon{
    filter: invert(1);
    transition: 500ms;
}

.bottom-menu .btnSidebar .btnIcon{
    filter: none;
}

.btnClose{
    outline: none;
}

/* Footer */
.footer{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background-color: #252525;
    margin-top: 2rem;
}

.footer p{
    padding: 1rem;
}

/* MD */
@media(min-width: 768px){
    
}

/* LG */
@media(min-width: 1024px){
    .header.top-menu .sidebar ul li a{
        color: white;
        text-shadow: 0px 0px 19px #000;
    }
}

/* XL */
@media(min-width: 1200px){

}