*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}



body{
  background: #F2F2F2;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

header{
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}


header .menu{
  flex-direction: column;
  position: relative;
}
header .menu .logo .icono{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}


/* header .menu .logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
} */

/* ubico el logo del menu a la derecha */

.icono-div{
  display: inline-block;
  position: absolute;
  right: 10px;
}

.logo{
  display: inline-block;
  padding: 10px 5px;
}

.icono{
  font-size: 2em;
  color: #4357ad;
}


header .menu .logo .btn-menu{
  display: inline-block;
  color: #4357ad;
}
header .menu .enlaces{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.enlaces a{
  color: #014b6a;
  text-decoration: none;
  font-size: 1.3em;
  border-bottom: solid darkslategray;
}

.enlaces span{
  margin-right: 5px;
}

/* banner principal */

.imagen-principal{
  position: relative;
  z-index: -999;
}

.imagen-principal img{
  width: 100%;
  margin-top: 38px;
}

.imagen-principal h2{
  margin: 0 2%;
  position: absolute;
  top: 12vh;
  font-size: 2em;
  background-color: #fff;
}
.imagen-principal span{
  position: absolute;
  margin: 0 2%;
  top: 20vh;
  font-size: 1em;
  background-color: #fff;
}

/* fin del banner principal */

/* servicios */

.servicios div img{
  width: 70%;
  border-radius: 50px;
}

.servicios div{
  text-align: center;
  padding: 1em;
}

.servicios h3, p, a{
  padding: 0.5em;
}

.servicios a{
  color: #24a3d8;
}

/* fin de servicios */

/* llamada a la accion */

.llamada-accion{
  padding: 1em;
  text-align: center;
  background-color: #000;
  margin: 2vh 0;
}

.llamada-accion strong{
  font-size: 1.2em;
  margin-left: 2px;
  color: #fff;
}

/*Fin de llamada a la accion */

/* formulario */

.section-formulario{
  padding: 2%;
}

.section-formulario h2{
  margin: 1.5vh;
  margin-bottom: 4vh;
}

.imagen-formulario{
  display: none;
}

form input{
    display: block;
    width: 95%;
    outline: none;
    padding: 3%;
    margin: 2%;
    font-size:1em;
}

form strong{
  display: block;
  margin: 10px 0;
  text-align: justify;
}

textarea{
  margin-top: 4vh;
  width: 95%;
  resize: none;
  outline: none;
  margin: 2%;
  font-size:1em;
  padding: 3%;

}

button[type="submit"]{
  padding: 10px 16px;
  font-size: 18px;
  outline: none;
  width: 50vw;
  height: 5vh;
  background-color: #3276b1;
  border-color: #357ebd;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1.33px;
  color: #fff;
  margin: 2vh;
  margin-left: 25%;
  margin-right: 25%;
}

/*Fin del formulario */

/*faq*/

.faq h2{
  margin-top: 50px;
  text-align: center;
}


.accordion{
    margin: 35px 0px 55px 1px;

}

.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    background: #f7f7f7;

}

.accordion-div{
  padding: 0 10px 0 0;
}

.accordion-div-title {
    width: 100%;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    background: #333;
    transition: all linear 0.15s;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
    cursor: pointer;
}

.accordion-div-title.active, .accordion-div-title:hover {
    background: #4c4c4c;
    text-decoration: none;
}

.accordion-div:last-child .accordion-div-title {
    border-bottom: none;
}

.accordion-div-content {
    padding: 15px;
    display: none;
}

/*fin del faq*/

/* footer */
footer{
  background-color: #323946;
  padding: 4%;
}

footer img{
  width: 35%;
}

footer p{
  color: #c1c1c1;
}

footer ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer ul li a{
  color: #F2F2F2;
  padding: 1vh;
}

.headroom{
  transition: transform .3s ease;
}

.headroom--pinned{
  transform: translateY(0%);
}

.headroom--unpinned{
  transform: translateY(-100%);
}


/*Fin del footer */

@media screen and(max-width: 768px) {

}

@media (min-width: 650px){

  .servicios{
    display: flex;
  }

  .imagen-formulario{
    display: none;
  }


  form input, textarea{
      padding: 1%;
      width: 65%;
      margin: auto;
    }

  textarea{
    margin-right: 15%;
    margin-left: 17.5%;
    margin-top: 5px;
  }

  form span{
    margin-left: 8%;
  }

  form strong{
    text-align: center;
  }

  button[type="submit"]{
    padding: 22px 16px;
    font-size: 21px;
    width: 20vw;
    margin-left: 41%;
  }
}

@media (min-width: 1024px){

/* Nav */
  .menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu .logo{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 2px;
  }

  .menu .logo img{
    vertical-align: top;
    height: 22px;
  }

  .menu .btn-menu .icono{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }

  .menu .enlaces{
    display: inline-block;
    text-align: right;

  }

  .menu .enlaces a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
  }

  header .menu .enlaces{
    width: 100%;
    display: inline-flex;
    flex-direction: row !important;
    justify-content: flex-end;
  }

  header .menu .logo{
    display: inline-flex;
    flex-direction: row;
    padding: 1em;
  }

  .menu .enlaces a:hover{
    color: #4357ad;
  }

  .menu .enlaces span{
    margin-right: 5px;
  }
  .enlaces a{
    border-bottom: none;
  }

  /* Efectos del menu */

  .headroom{
    transition: transform .3s ease;
  }

  .headroom--pinned{
    transform: translateY(0%);
  }

  .headroom--unpinned{
    transform: translateY(-100%);
  }
/* fin del nav */


/* Servicios */

.servicios{
  margin: 20px 0;
}

.servicios div{
  display: inline-block;
  width: 33%;
}
/* Fin servicios */

/* Contacto */

.section-formulario{
  display: flex;
}

.div-formulario{
  width: 50%;
	margin: 20px 2px 0 2px;
}

.imagen-formulario{
  width: 50%;
	margin: 20px 2px 0 0;
  display: block;
}

.imagen-formulario img{
  margin-top: 5vh;
}

form input{
    width: 90%;
    padding: 2%;
    margin: 2%;
}

textarea{
  width: 90%;
  margin: 2%;
  padding: 3%;
}





}
