.form-validate textarea,
.form-validate input{
    color: #495057;
    border: 1px solid #ced4da;
    box-shadow: none;
    border-radius: .25rem;
}

.form-validate textarea:focus,
.form-validate input:focus{
    box-shadow: 0 0 0 .2rem #495057;
}

.form-validate textarea.invalid,
.form-validate input.invalid{
    border-color: rgb(255, 30, 30);
}

.form-validate textarea.invalid:focus,
.form-validate input.invalid:focus{
    box-shadow: 0 0 0 .2rem rgb(255, 30, 30);
}

.form-validate textarea.valid,
.form-validate input.valid{
    border-color: rgb(0, 128, 0);
}

.form-validate textarea.valid:focus,
.form-validate input.valid:focus{
    box-shadow: 0 0 0 .2rem rgb(0, 128, 0);
}