.banner-video{
    height: calc(100vh);
    background: url('/img/student.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner-video h2, p{
    color: #fff;
    padding: 0 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.banner-video h2{
    padding-top: 56%;
    padding-bottom: 2rem;
    font-size: 2.2rem;
    text-shadow: 0px 0px 19px #000;
}

.banner-video p{
    font-size: 1.1rem;
    text-shadow: 0px 0px 15px #000;
}


/* Como lo hacemos */
.cards-servicios{
    margin: 0 auto;
    padding: 1rem 1rem;
    border: none;
    width: 20rem;
}

.cards-servicios i{
    font-size: 3rem;
}

.cards-servicios h3{
    line-height: 3rem;
}

.cards-servicios h3 i{
    padding-right: 1rem;
    font-size: 3rem;
    position: relative;
    top: .5rem;
}

.cards-servicios p{
    color: #222;
    margin: 10% 0;
    font-family: 'Montserrat', sans-serif;
}

/* Qué incluye */
.que-incluye{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.tabs .tab-body .tab-li .subtitle{
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.tabs .tab-body .tab-li p{
    color: black;
}

.tabs .tab-body .tab-li .list{
    text-align: left;
}

.tabs .tab-body .tab-li .arrow{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    margin-right: 15px;
    letter-spacing: -5px;
}